---
title: Projects
navItem: projects
---

<h1>Projects</h1>
<p class="lead">I've made several projects over the years. Here are some of them:</p>

{% assign projectGroups = site.projects | sort:"year" | reverse | group_by:"year" %}
{% for projectGroup in projectGroups %}

<h2 class="mt-4">{{projectGroup.name}}</h2>
<div class="row pl-4 pl-sm-0">
  {% assign projects = projectGroup.items | sort:"priority" | reverse %}
  {% for project in projects %}
  <div class="project-container col-12 col-md-6">
    <a class="project" href="{{project.url}}">
      <h2>{{project.title}}{% if project.year %} <small class="text-secondary">{{project.year}}</small>{% endif %}</h2>
      {% include technologies.html technologies=project.technologies %}
      {% if project.description %}<p>{{project.description}}</p>{% endif %}
    </a>
    {% if project.projecturl %}
    <a href="{{project.projecturl}}" target="_blank" {% if project.brandbg %}class="btn" style="background-color: {{project.brandbg}}; color: {{project.brandtext}}"{% else %}class="btn btn-primary"{% endif %}>
      {% if project.domain %}{{project.domain}}{% else %}View Project{% endif %} <i class="fas fa-arrow-right"></i>
    </a>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endfor %}

<p>For even more projects, check my <a href="https://github.com/anli5005">Github.</a></p>
