<footer class="footer py-4 px-sa">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5>anthony li</h5>
        <p>Made with <i class="fas fa-heart"></i><span class="sr-only">love</span> by <a href="/about">anli5005.</a></p>
        <p>Pick a theme: <select id="interface-theme-select" class="form-control-sm d-inline-block">
          <option default>Default</option>
          <option value="light">Light</option>
          <option value="dark">Dark</option>
        </select></p>
        <p class="text-white-50">&copy; 2020 Anthony Li under <a class="text-white-50" href="https://github.com/anli5005/anli5005.github.io/blob/master/LICENSE">MIT License</a></p>
      </div>
      <div class="col">
        <ul class="list-style-none p-0">
          <li><a href="/about">About</a></li>
          <li><a href="/attribution">Attribution</a></li>
          <li><a href="/anli5005.github.io-old">Old site</a></li>
          <li><a class="text-white-50" href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fanli.dev%2F" target="_blank">Validate this site!</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
