<nav class="navbar navbar-expand-md navbar-light navbar-anli {% if include.sticky %}sticky-top{% else %}fixed-top{% endif %}" id="main-navbar">
  <a class="navbar-brand ml-sa" href="/">{% include logo.html class="logo-animated pointer-events-none" %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar-content" aria-controls="main-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="main-navbar-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.navItem == 'about' %}active{% endif %}">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item {% if page.navItem == 'projects' %}active{% endif %}">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item {% if page.navItem == 'contact' %}active{% endif %}">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <div class="navbar-social mr-sa">
      <a href="https://twitter.com/anli5005" class="social-twitter"><i class="fab fa-twitter"></i><span class="sr-only">Twitter</span></a>
      <a href="https://www.youtube.com/channel/UCKSECIUsF-E639ipu6_JwJw" class="social-youtube"><i class="fab fa-youtube"></i><span class="sr-only">YouTube</span></a>
      <a href="https://open.spotify.com/user/anli5005" class="social-spotify"><i class="fab fa-spotify"></i><span class="sr-only">Spotify</span></a>
      <a href="https://quizlet.com/anli5005" class="social-quizlet"><i class="a5 fa-quizlet"></i><span class="sr-only">Quizlet</span></a>
      <a href="https://scratch.mit.edu/users/anli" class="social-scratch"><i class="a5 fa-scratch"></i><span class="sr-only">Scratch</span></a>
      <a href="https://github.com/anli5005" class="bg-github text-white"><i class="fab fa-github"></i></a>
    </div>
  </div>
</nav>
{% if include.sticky %}
{% else %}
<div class="navbar-spacer"></div>
{% endif %}
