.social-scratch {
  &:hover {
    color: #ff8c1a;
  }

  .fa-scratch {
    transform: translate(-6px, -5px);
  }
}

.social-youtube:hover {
  color: #ff0000;
}

.social-quizlet:hover {
  color: #4257b2;
}

.social-spotify:hover {
  color: #1db954;
}

.social-twitter:hover {
  color: #1da1f2;
}