@import 'variables';
@import 'bootstrap/bootstrap';
@import 'safearea';
@import 'social';

:root {
  --link-color: $link-color;
  --link-color-hover: $link-hover-color;
}

html, body {
  min-height: 100%;
}

a {
  color: var(--link-color);

  &:hover, &:active, &:focus {
    color: var(--link-color-hover);
  }
}

.logo-arcs {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin-x: 50%;
  transform-origin-y: 55%;
  opacity: 0;
}

.navbar .logo-animated {
  width: $navbar-brand-height;
  height: $navbar-brand-height;
}

.navbar-anli {
  background-color: $light;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;

  .navbar-nav {
    .nav-link {
      text-transform: uppercase;
      color: rgba($text, 0.3);

      &:hover, &:active {
        color: rgba($text, 0.6);
      }

      &:focus {
        color: rgba($text, 0.7);
      }
    }

    .nav-item.active .nav-link {
      color: $text;
    }
  }
}

.navbar-social {
  a {
    border-radius: 50%;
    width: $navbar-social-link-height;
    height: $navbar-social-link-height;
    text-align: center;
    line-height: $navbar-social-link-height;
    display: inline-block;
    margin-left: 8px;
    font-size: $navbar-social-link-height * 0.6;
    color: rgba($text, 0.5);
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }
  }
}

.navbar-spacer {
  height: 56px;
}

.pointer-events-none {
  pointer-events: none !important;
}

.list-style-none {
  list-style: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.footer {
  background-color: $footer-bg;
  color: $footer-color;

  a {
    color: $footer-color;
    text-decoration: underline;

    &:hover, &:active, &:focus {
      color: rgba($footer-color, 0.8);
    }
  }
}

#main-navbar.sticky-top {
  .navbar-brand {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .navbar-nav {
    right: $navbar-brand-height + $navbar-padding-x;
    transition: right 0.5s;
  }

  &.showing-brand {
    .navbar-brand {
      opacity: 1;
    }

    .navbar-nav {
      right: 0;
    }
  }
}

@include media-breakpoint-up("md") {
  #main-navbar.sticky-top .navbar-nav {
    position: relative;
  }
}

.sticky-top {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    position: -webkit-sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

.heading-muted {
  text-transform: uppercase;
  font-size: $font-size-base;
  letter-spacing: 1px;
}

.fancy-link {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $spacer;
  background-color: white;
  display: block;
  margin: ($spacer / 2) $spacer ($spacer / 2) 0;
  transition: box-shadow 0.2s, color 0.2s;
  width: $fancy-link-width;
  font-family: $headings-font-family;

  &:hover {
    box-shadow: $box-shadow-lg;
    text-decoration: none;
  }

  p {
    margin-bottom: 0;
  }
}

.shadow-hover {
  box-shadow: $box-shadow;
  transition: box-shadow 0.2s, background-color 0.2s;

  &:hover, &:focus {
     box-shadow: $box-shadow-lg;
  }
}

.project {
  @extend .shadow-hover;
  background-color: white;
  color: $text;
  display: block;
  border-radius: $border-radius-lg;
  padding: $spacer * 1.5;
  padding-bottom: $spacer * 2.5 + $btn-padding-y * 2 + $btn-line-height;
  height: 100%;

  &:hover {
    color: $text;
    text-decoration: none;
  }
}

.project-container {
  position: relative;
  padding-left: 0;
  margin-bottom: $spacer;
}

.project-container > .btn {
  position: absolute;
  left: $spacer * 1.5;
  bottom: $spacer * 1.5;
}

.jumbo-header {
  background-color: $light;
  color: $primary;
}

@import 'dark';