@import 'variables';
@import 'bootstrap/bootstrap';

html, body {
  height: 100%;
}

.logo-arcs {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin-x: 50%;
  transform-origin-y: 48%;
}

h1 {
  font-weight: 200;
}

h2, h3 {
  font-weight: normal;
}
